<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Player vs Computer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <mat-form-field>
                    <mat-label>Enter your name</mat-label>
                    <input matInput required [(ngModel)]="playerName" name="playerName">
                  </mat-form-field>
            </form>
        </div>
        <div class="col-md-12">
            <button (click)="newGame()" mat-raised-button color="primary" [disabled]="!playerName">New game</button>
        </div>
    </div>
    <br>
    <div *ngIf="game">
        <div class="row">
            <h2>Score: {{game.player1Name}} {{game.player1Score}} - {{game.player2Name}} {{game.player2Score}}</h2>
            <h3>Draws: {{game.draws}}</h3>
            <p>Game id: {{game.id}}</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button mat-raised-button color="primary" (click)="rock()">Rock</button>
                <button mat-raised-button color="primary" (click)="paper()">Paper</button>
                <button mat-raised-button color="primary" (click)="scissors()">Scissors</button>
            </div>
        </div>
        <br>
        <app-score [game]="game"></app-score>
    </div>
</div>